<div ng-class="{'selected': playing == song.id }" class='list-group-item songCard row'>
        <div>
           <img class='artwork' ng-style="{'background-color':coverColor}" ng-src="{{song.artwork_url}}" />
           <span ng-bind-html="song.title | highlight:search" class='title'>{{ song.title | highlight:search }}</span>
           <br />
   <a ng-href="/user/{{song.user.id}}"><span ng-bind-html="song.user.username | highlight:search" class='artists'>{{ song.user.username | highlight:search }}</span></a>
           <br />
            <span class="glyphicon glyphicon-headphones"></span> {{song.playback_count | number}} <br />
            <span class="glyphicon glyphicon-thumbs-up"></span> {{song.favoritings_count | number}} <br />
           <span class="glyphicon glyphicon-fire"></span> {{hotness(song) * 1000 | number : 1 }} <br />
        </div>
     <div class='songOptions' >
         <!--<button ng-show="loading == true && playing == song.id" class="btn btn-primary btn-lg">Loading</button>-->
        <load-button ng-show="loading == true && playing == song.id"></load-button>
         <button play-button ng-show="loading == false && playing == song.id && soundOn" ng-click="playTrack(song, $index)" class="pause btn btn-lg"><span class="glyphicon glyphicon-pause"></span></button>
         <button play-button ng-show="playing != song.id || (!loading && !soundOn && playing == song.id)" ng-click="setQueue();playTrack(song, $index)" class="play btn  btn-lg"><span class="glyphicon glyphicon-play"></span></button>
     </div>
    <span title="Track options" class="glyphicon glyphicon-option-vertical"></span>
   <span ng-click="favoriteTrack()" class="favoriteToggle"><span ng-show="favorited" class="glyphicon glyphicon-star"></span><span ng-show="!favorited" class="glyphicon glyphicon-star-empty"></span></span>
</div>