<div class='' id="content" >
   <user-search></user-search>
  <div id="userBadge">
     <h3>{{user.username}}</h3>
     <img ng-src="{{user.avatar_url}}" />
     <h5>Favorites: {{user.public_favorites_count | number}}</h5>
     <h5>Following: {{user.followings_count | number}}</h5>
     <h5>Followers: {{user.followers_count | number}}</h5>
  </div>
  <div id="streamBar">
     <h5 ng-show='currentTrack' id="nowPlaying">Current playing: <em>{{currentTrack.title | limitTo : 50}}{{currentTrack.title.length > 50 ? '...' : ''}}</em></h5>
     <span>{{trackTime | date : "mm:ss"}}</span> | <span ng-show="!currentTrack">00:00</span> {{currentTrack.duration | date : "mm:ss"}}
     <input ng-disabled="!currentTrack || loading" id="trackTimeline" type="range" track-Timeline ng-model="$root.trackPos" ng-model-options="{ getterSetter: true }" defaultValue="0" min="0" max="300" />
     <span title="queue" id="queueButton" class="glyphicon glyphicon-th-list" ng-click="displayQueue = !displayQueue"></span>
     <span>Next: {{next.title | limitTo : 42}}</span>
      <!--<a target="_self" href="{{musicPlayer.streamInfo.url}}" download="{{currentTrack}}.mp3">Download</a>-->
      <span class="glyphicon glyphicon-step-backward" ng-click="playTrack(prev, index-1)" aria-hidden="true"></span>
      <span ng-show="!soundOn" class="glyphicon glyphicon-play" ng-click="playTrack(currentTrack, index)" aria-hidden="true"></span>
      <span ng-show="soundOn" class="glyphicon glyphicon-pause" ng-click="playTrack(currentTrack, index)" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-step-forward" ng-click="playTrack(next, index+1)" aria-hidden="true"></span>
      <input ng-model="$root.volume" id="volume" type="range" value="60" max="100" min="0" step="20" ng-change="updateVol()" />
      <span class="glyphicon glyphicon-volume-off" ng-show="$root.volume==0" ng-click="$root.volume=60; updateVol()" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-volume-up" ng-show="$root.volume!=0" ng-click="$root.volume=0; updateVol()" aria-hidden="true"></span>
  </div>
   <div ng-show="displayQueue" id="queueWindow">
      <h3>Queue</h3>
      <table>
         <thead>
         <tr><th>Title</th><th>Artist</th></tr>
         </thead>
         <tr ng-class="$odd ? 'oddRow' : ''" ng-repeat="song in queue"><td>{{song.title}}</td><td>{{song.user.username}}</td></tr>
      </table>
   </div>
   <!--<select id="listSelect" ng-init="categories=['Favorites', 'Tracks', 'Playlists', 'Reposts']" ng-options="category by category in categories"  ng-model="listSelect"  selected="Favorites">
      <option ng-repeat="category in categories" >{{category}}</option>
   </select>-->
 <div class="container-fluid">
     <div id="sortContainer" class="col-lg-6 col-md-6">
     <div id="sortOptions" class="btn-group" role="group">
       <li ng-click="reverse=!reverse" class="btn btn-default">
           <span ng-show="!reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
           <span ng-show="reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
       </li>
       <li class="btn btn-default" ng-class="{active : sortParam === '+'}"><a ng-click="sortSongs('+')">Most Recent</a></li>
       <li class="btn btn-default" ng-class="{active : sortParam === 'title'}" ng-click="sortSongs('title')"><a val='title'>Title</a></li>
       <li class="btn btn-default" ng-class="{active : sortParam === 'user.username'}" ng-click="sortSongs('user.username')"><a val='user.username'>Artist</a></li>
       <li class="btn btn-default" ng-class="{active : sortParam === '-favoritings_count'}" ng-click="sortSongs('-favoritings_count')"><a>Likes</a></li>
       <li class="btn btn-default" ng-class="{active : sortParam === '-created_at'}" ng-click="sortSongs('-created_at')"><a>Date Created</a></li>
       <li class="btn btn-default" ng-class="{active : sortParam == hotness}" ng-click="sortSongs(hotness)"><a>Hot</a></li>
     </div>
     </div>
     <div class="col-lg-6 col-md-6" >
        <input id="trackSearch" ng-model="search" placeholder="Search tracks..." type="text" class="form-control" />
     </div>
 </div>
    
   
 <div class='list-group'>
   <!--<img ng-show="!songs" ng-src='http://i.stack.imgur.com/fHctp.gif' />-->
     <ul id="collectionSelector" class="nav nav-tabs">
          <li role="presentation" ng-class="{active : currentCollection == 'tracks'}"><a ng-click="updateCollection('tracks')">Tracks</a></li>
          <li role="presentation" ng-class="{active : currentCollection == 'favorites'}"><a ng-click="updateCollection('favorites')">Favorites</a></li>
          <li role="presentation" ng-class="{active : currentCollection == 'playlists'}"><a ng-click="updateCollection('playlists')">Playlists</a></li>
          <li role="presentation" ng-class="{active : currentCollection == 'followers'}"><a ng-click="updateCollection('followers')">Followers</a></li>
     </ul>
     <div id="songContainer">
        <h4 ng-show="!orderedSongs && (currentCollection == 'tracks' || currentCollection == 'favorites')">Loading from Soundcloud...</h4>
         <h4 ng-show="orderedSongs.length == 0">User has no tracks here.</h4>
         <h4 ng-show="currentCollection == 'playlists' || currentCollection == 'followers'">Coming soon!</h4>
        <song-card ng-repeat="song in (filteredSongs = (orderedSongs | filter:search))"></song-card>
     </div>
 </div>
</div>